# macOS
.DS_Store

# vscode
.vscode

# Build directories
trabalho-pratico/build
trabalho-pratico/deps
trabalho-pratico/docs
trabalho-pratico/obj

# Executable symlinks (to match required project structure)
trabalho-pratico/programa-principal
trabalho-pratico/programa-testes

# To be removed when reports need to be published. Also, remember to allow the real files
# (not the symlinks) in build/
trabalho-pratico/relatorio-fase1.pdf
trabalho-pratico/relatorio-fase2.pdf
