# macOS
.DS_Store

# vscode
.vscode

# Build directories
trabalho-pratico/build
trabalho-pratico/deps
trabalho-pratico/docs
trabalho-pratico/obj

# Executable symlinks (to match required project structure)
trabalho-pratico/programa-principal
trabalho-pratico/programa-testes

# Output results
trabalho-pratico/Resultados
